<!DOCTYPE html>
<html>
<head>
	<title>
		

	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>
		
		function changeStar(id){
			var star = $('#'+id).html();
			if(star.includes("gray")){
				$.ajax({

                  url:"/addCounter",
                  dataType : 'json',
                  success: function(result){
                          console.log(result)

                $('#'+id).html("<i class ='fa fa-star' style = 'color:orange'></i>");
				$("#statusBuku").html("<i class='fa fa-star' style= 'color:orange'></i>" + result + " buku favorit");
        		}
    		});
		}

			else{
				$.ajax({

                  url:"/kurangCounter",
                  dataType : 'json',
                  success: function(result){
                          var counter = JSON.parse(result);
                          console.log(result)

                        $('#'+id).html("<i class ='fa fa-star' style = 'color:gray'></i>");
				$("#statusBuku").html("<i class='fa fa-star' style= 'color:orange'></i>" + result + " buku favorit");
        		}
    		});
    	}
    }
		

		$(document).ready(function(){

			$("#submit").click(function(){
				var x = $('#myInput').val();
				var other = document.getElementsByTagName("thead")
				for(i=0; i<other.length; i++){
					other[i].style.display = "none"
				}
				var other = document.getElementsByClassName("buku")
				for(i=0; i<other.length; i++){
					other[i].style.display = "none"
				}
				panggil(x);
			});

			panggil('cooking');

		});

		function panggil(txt)  {
			$.ajax({
				url : "/fileJson/?cari=" + txt,
				success: function(result){
					result = result.items
					var judul = "<thead><tr><th>Judul Buku</th><th>Penulis</th><th>Gambar Buku</th><th>Penerbit</th><th>Deskripsi</th><th></th></tr></thead>";
						$("#buku").append(judul);
						$("#buku").append("<tbody>");
						dataLength = result.length;
					for(i=0; i<result.length; i++){
						var tmp = "<tr class='buku'><td>" + result[i].volumeInfo.title + "</td><td>" + result[i].volumeInfo.authors + "</td><td>"+ "<img src = '" + result[i].volumeInfo.imageLinks.thumbnail+ "'>" + "</td><td>" + result[i].volumeInfo.publisher + "</td><td>" + result[i].volumeInfo.description + "</td><td>" + "<button class ='button' style='background-color : transparent; border: none' id='"+result[i].id+"' onclick = 'changeStar("+"\""+result[i].id+"\""+")'><i class='fa fa-star' style ='color : gray'></i></button>"+"</td></tr>";
						$("#buku").append(tmp);
					}
					$("#buku").append("</tbody>");
				}
			});

		}

		/*function myFunction() {
		    var input, filter, ul, li, a, i;
		    input = document.getElementById("myInput");
		    filter = input.value.toUpperCase();
		    li = document.getElementsByClassName("buku");
		    for (i = 0; i < li.length; i++) {
		        a = li[i].getElementsByTagName("td")[0];
		        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
		            li[i].style.display = "";
		        } else {
		            li[i].style.display = "none";
		        }
		    }
		}*/


		
	</script>
}
</head>
<body style="background-image: linear-gradient(to right, #D5BCF1 , #F9B5D4, pink)">
	<div class = "container">
		<br>	
		<center>
		<h3> Pilih buku favoritmu!</h3>
		<h4 id="statusBuku"> {{counter}} buku favorit</h4>
		</center>
		<br><br>

		<div>
		    {% if user.is_authenticated %}
		      	<center>
		        	<h4>
		      	<span>HAI, KAK {{user.username}}  </span>
		      	<br>
		      	<span>Selamat Datang di Story 11</span>
		      	</h4>
		      	</center>
		      	<span><a href="{% url 'logout' %}"><button>Logout</button></a></span>

		    {% else %}
		      	<span><a href="{% url 'social:begin' 'google-oauth2' %}"><button>Login with google</button></a> </span>
		    {% endif %}

		</div>

		

		<h5>Mau cari buku apa?:)</h5>
		<div class="container">
		  <div class="row">
		    <div class="col-sm">
		      <input type="text" class= "form-control" id="myInput" vr55 placeholder="Search for books.." title="Type in a name">
		    </div>
		    <div class="col-sm">
		      <a class="btn btn-primary" id="submit" role="button">Link</a>
		    </div>
		  </div>
		</div>
		<br>
		<table class = "table table-striped" id="buku" style="background-color:white "></table>
		
	</div>
</body>
</html>