<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Story 6 Felia</title>	
</head>
<body style="background-image: linear-gradient(to right, #D5BCF1 , #F9B5D4, pink)">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<div class="container">
		<center>
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">	
				<br><br><br>
				<br><br><br>
				<h1 style="font-size : 30px ; text-align: center; ">Hello! Apa Kabar? </h1>
			    <section  name="form">
			       	<br><br>
			       	<p style="text-align: center; font-size: 24px"> Tambahkan Status kamu! </p>
			       	<form method="POST" action="{% url 'input1' %}">
			       		{% csrf_token %}
			       		{{ form1 }}
			       		<br>
						<button type="submit" id="submit" class="btn btn-info">Submit</button>
			       		<br>
			       	</form>
			 	</section>
			</div>
			<div class="col-4">
			</div>
		</div>
		</center>
	</div>
	
	
	<center>
		<br><br><br>
	<p style="font-size: 24px; text-align: center">Daftar Status</p>	
				<div style=" text-align: center;">
					<br>
					<div style="width: 80% ; margin-right:30%; margin-left:22% ">
						<table class="table" border= "#000000" style="width: 70%">
							<tr bgcolor="#BCACBC">
								<th style="width: 80%">Status</th>	
							</tr>
							{% for e in status2 %}
								<tr bgcolor="E2CDE2">
									<td>{{e.status}}</td>	
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
	</center>

</body>
</html>