{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>story10</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	

</head>
<body style="background-image: linear-gradient(to right, #D5BCF1 , #F9B5D4, pink)">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<div style ="margin: 10% 28%" class="jumbotron">
		<center><h2>Register</h2></center>
		<br>
		{% csrf_token %}
		  <div class="form-group">
		    <label for="name">Nama</label>
		    <input type="text" class="form-control" id="name" placeholder="Masukkan nama" >
		  </div>
		  <div class="form-group">
		    <label for="email">Email</label>
		    <input type="text" class="form-control" id="email" placeholder="abcd@example.com">
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" >
		  </div>
	<center>	
		Result: <span id="result"></span><br />
		<br>
		<button class="btn btn-primary" id="tombol2" type="submit">Subscribe</button>
	</div>

</center>
<script>
		$('#email').keyup(() => {
			$.ajax({
				url: '/available/?email=' + $('#email').val(),
				method : 'GET',
				success : response => {
				if($('#email').val() !== response.email) return;
				if(response.available){
					$('#result').html('');
					$('#tombol2').prop('disabled', false);
				}
				else{
					$('#result').html('Email sudah digunakan');
					$('#tombol2').prop('disabled', true);
				}
			}
		});
	});


	    $("#tombol2").click(function(){  
	        $.ajax({
			url : '/registerPage/',
			method: 'POST',
			data :{
				name : $('#name').val(),
				email: $('#email').val(),
				password : $('#password').val(),
				csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
			},
			success: response => {
				$('#result').html(response.message);
				$('#name').val('');
				$('#email').val('');
				$('#password').val('');
			},
			error: function(xhr, status, error){
				$('#result').html('Gagal untuk menyimpan dengan error : ' + JSON.parse(xhr.responseText).error[0]);
				}
	
		});
	   
	});
	</script>
</body>
</html>